$homeBanner:url('../images/Background.svg') #{"/*rtl:url('../images/Background-rtl.svg')*/"};
@mixin BannerBackground {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

.main-section-bg {
    background-image: url("../../images/Logo_Pattern.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 240px;
    /* background-attachment: fixed; */
    left: 0;
    right: 0;
    z-index: -1;
    top: 25px;
}

@media (max-width: 767px) {
    .main-section-bg {
        background-image: url("../../images/Logo_Pattern.svg");
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 180px;
    }
}