.admin{
    background-color: #FAFBFD;
    overflow: hidden;
}

.admin {
    .inner-main-div {
        top: 65px;
        margin-left: 280px;
        background: none;
        direction: ltr;
        padding: 3rem;
        height: calc(100vh - 65px );
        width: calc(100% - 280px);

        > div {
            min-height: calc(100vh - 65px - 6rem);
        }
    }
}