@mixin Heading1{
  font-family: $BoldFont;
  font-size: 3.5rem;
  line-height: 50px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: $BoldFont;
}
.font-weight-bold{
  font-family: $BoldFont !important;
  font-weight: normal!important;
}

.font-weight-normal {
    font-family: $RegularFont;
    font-weight: normal !important;
    line-height: 24px;
}

.font-weight-light {
    font-family: $LightFont;
    font-weight: normal !important;
}

label.font-weight-bold {
    font-family: $BoldFont;
    font-weight: normal !important;
}

@mixin SectionTitle {
  font-family: $BoldFont;
  font-size: 1.5rem;
}

@mixin PrimaryButtons {
  font-family: $RegularFont;
  font-size: .8rem;
  color: $greyColor;
}

@mixin SeconderyButtons {
  font-family: $RegularFont;
  font-size: .8rem;
  color: $greyColor;
}

.section-title{
  @include SectionTitle;
}

